.headerLogo {
  height: 40px;
  width: auto;
  margin: 20px 20px;
  position: absolute;
  left: 10px;
}

.title-center {
  margin-left: auto;
  /* Push the centered element to the middle */
  margin-right: auto;
}

.setting{
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  height: 100%; 
  padding-top: 60px; 
}